# Data Science Tools and Ecosystem

# **Objectives:**

- List popular languages for Data Science
- List commonly used libraries in Data Science
- Create a table with Data Science tools
- Perform arithmetic operations using Python
- Share a Jupyter Notebook through GitHub

# In this Notebook, Data Science Tools and Ecosystem are summarized.

# Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

# Some of the commonly used libraries used by Data Scientists include:

1. pandas
2. NumPy
3. Matplotlib

|Data Science Tools |
|------------------ |
|Jupyter Notebook   |
| RStudio           |
| Apache Zeppelin   |

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
#This a simple arithmetic expression to mutiply then add integers 
(3*4)+5

17

In [10]:
#This will convert 200 minutes to hours by diving by 60
result = 200 / 60
f"{result} hours"

'3.3333333333333335 hours'

## Author:
   Rodrigo Rodrigues